<!DOCTYPE html>
<html lang="ru">
<head>
       <!-- Техническая информация о документе -->
    <meta charset="UTF-8"> <!-- Определяем кодировку символов документа -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Exam</title>
</head>
<body style="background: #272a2d">
  <!-- Основная часть документа -->


  <header class="header">
    <div class="container">
      <div class="flexheader">
        <p><img class="logostyle" src="static/img/logo.gif" alt="LOGO"></p>
        <div class="flex01">
            <p class="styletext01"><a href="index" style="color: rgba(255, 255, 255, 0.7)">О часах</a></p>
            <p class="styletext01"><a href="sobiraem_sami" style="color: rgba(255, 255, 255, 0.7)">Собираем сами</a></p>
            <p class="styletext01"><a href="kupit_gotovie" style="color: rgba(255, 255, 255, 0.7)">Купить готовые</a></p>
            <p class="styletext01"><a href="kontakti" style="color: rgba(255, 255, 255, 0.7)">Контакты</a></p>
       </div>
      </div>
    </div>
  </header>


<section class="container">
    <div class="flexclockpage">
        <div>
            <hr>
            <h2 class="textstyle02"><span id="%D0%9E%D0%9F%D0%98%D0%A1%D0%90%D0%9D%D0%98%D0%95"></span>Немного о часах</h2>
            <hr>
            <p class="textstyle03">Страница посвящена доступному проекту часов на газоразрядных индикаторах с Arduino nano.</p>
            <img src="../static/img/all_clock.jpg" alt="board" width="900" height="394">
            <br>
            <h3 class="textstyle03">Плата:</h3>
        <ul class="textstyle03">
            <li>Габариты платы меньше 100х100мм, то есть можно их заказать у китайцев по минимальныи ценам</li>
            <li>Все компоненты – выводные и их проще запаять, чем SMD элементы. Справится начинающий радиолюбитель</li>
            <li>Количество компонентов сведено к минимуму!</li>
            <li>На данный момент в проекте плата под индикаторы ИН-12 либо ИН-14. Универсальная под оба вида ламп</li>
            <li>Система состоит из двух плат: нижней (вся управляющая электроника) и верхней (лампы и светодиоды подсветки)</li>
            <li>Нижняя плата может быть распаянной с: 5 оптопарами (точка – неонка) либо 4 оптопары и резистор (точка - светодиод)</li>
            <li>Выбор установленных ламп в часы происходит в прошивке. В разделе "Собираем сами" про это упоминается</li>
        </ul>
        <h3 class="textstyle03">Аппаратные возможности:</h3>
        <ul class="textstyle03">
            <li>Сердце платы – полноразмерная <strong>Arduino NANO</strong>, это означает простую сборку и прошивку</li>
            <li>Питание всей схемы – <strong>5 Вольт</strong>. Ни больше ни меньше</li>
            <li>Генератор высокого напряжения раскачивается ШИМ каналом Arduino</li>
            <li>Напряжение генератора подстраивается подстроечным резистором</li>
            <li>Время задают часы реального времени <strong>RTC DS3231</strong></li>
            <li>3 кнопки для настройки времени, эффектов переключения и будильника</li>
            <li>Пищалка для будильника</li>
            <li>Светодиодная подсветка ламп индикаторов</li>
            <!-- <li>Проект основан на плате&nbsp;<strong>Железнякова Андрея</strong>. Спасибо! Ссылка на проект:&nbsp;<a href="https://goo.gl/xTVQWP" rel="nofollow">https://goo.gl/xTVQWP</a></li></ul> -->
        </ul>
        <h3 class="textstyle03">Программные возможности:</h3>
        <ul class="textstyle03"><li>“Перебор” цифр, не дающий индикаторам окисляться</li>
            <li>Плавное изменение яркости точки и подсветки ламп</li>
            <li>Настройка яркости цифр, “точки” и подсветки ламп</li>
            <li>Два режима яркости в зависимости от времени суток</li>
            <li>6 режимов переключения индикаторов</li>
            <li>3 режима подсветки ламп</li>
            <li>Будильника нет</li>
        </ul>
        <hr>
        <h2 class="textstyle02"><span class="ez-toc-section" id="%D0%AD%D0%A4%D0%A4%D0%95%D0%9A%D0%A2%D0%AB"></span>ЭФФЕКТЫ<span class="ez-toc-section-end"></span></h2>
        <hr>
        <p class="textstyle03"> Эффекты при смене цифр индикации:</p>
        <ul class="textstyle03">
            <li><a>Нет эффекта</a></li>
            <li><a>Плавный переход</a></li>
            <li><a>Перебор цифр</a></li>
            <li><a>Перебор катодов</a></li>
            <li><a>Случайный глюк (фаотичное помаргивание одной из цифр)</a></li>
        </ul>
        <p class="textstyle03"> Видео с демонстрацией эффектов (нарезка моментов с эффектами):</p>
        <iframe width="640" height="480"
            src="../static/video/demonstrate.mp4"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <hr>
        <h2 class="textstyle02"><span class="ez-toc-section" id="%D0%92%D0%98%D0%94%D0%95%D0%9E"></span>ВИДЕО<span class="ez-toc-section-end"></span></h2>
        <hr>
        <p class="textstyle03">Видео о первом тестовом запуске часов на одни сутки. Все часы проработали 24 часа и продолжали исправно работать. Это говорит об успешном завершении сборки часов. Можно браться за изготовление коруса.</p>
        <iframe width="640" height="480"
            src="https://www.youtube.com/embed/QmEYgXPZfIE?controls=1&amp;rel=0&amp"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <hr>
        <h2 class="textstyle02"><span class="ez-toc-section" id="%D0%92%D0%98%D0%94%D0%95%D0%9E"></span>Варианты корпуса<span class="ez-toc-section-end"></span></h2>
        <hr>


        <img src="../static/img/clock_with_box.jpg" alt="board" width="700" height="394" >


        <hr>
        </div>
    </div>


</section>



<i class="fa fa-chevron-circle-up fa-3x" aria-hidden="true"></i>
</body>
</html>




