<!DOCTYPE html>
<html lang="ru, en">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a class="ez-toc-link ez-toc-heading-3" href="#%D0%AD%D0%A4%D0%A4%D0%95%D0%9A%D0%A2%D0%AB" title="ЭФФЕКТЫ">ЭФФЕКТЫ</a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-teal">
  <h1>My Page</h1>
</div>

<img src="logo.gif" alt="Car" style="width:100%">

<div class="w3-container">
<h2>Sidebar Navigation Example</h2>
<p>The sidebar with is set with "style="width:25%".</p>
<p>The left margin of the page content is set to the same value.
ешил я сделать максимально простой и доступный проект часов на газоразрядных индикаторах и Arduino! Односторонняя плата, выводные компоненты, никакой жести!

Плата:
Габариты платы меньше 100х100мм, то есть заказать 10 таких плат у китайцев будет стоить $2 без учёта доставки
Плата односторонняя, её без проблем можно сделать классическим ЛУТом!
Все компоненты – выводные, припаяет даже новичок
Т.е. плата народная: можно сделать её бабкиным утюгом и распаять горячим гвоздём!
Количество компонентов сведено к минимуму!
На данный момент в проекте есть платы под индикаторы ИН-12 и ИН-14, возможно будут сделаны и другие
Система состоит из двух плат: нижней (вся управляющая электроника) и верхней (лампы и светодиоды подсветки)
Нижних плат два варианта: обычная (4 оптопары, точка – светодиод) и с дополнительной оптопарой под неоновую точку (5 оптопар, точка – неонка)
У плат ИН-14, ИН-12, ИН-12_перевертыш нижняя часть одинаковая! Части плат взаимозаменяемы. Нижняя плата отличается только у ИН-14_неон
Аппаратные фишки:
Сердце платы – полноразмерная Arduino NANO, это означает простую сборку и прошивку
Питание всей схемы – 5 Вольт
Генератор высокого напряжения раскачивается ШИМ каналом Arduino
Напряжение генератора подстраивается резистором с крутилкой
Время задаёт RTC DS3231
3 кнопки для настройки времени и будильника
Пищалка для будильника
Подсветка ламп индикаторов
Проект основан на плате Железнякова Андрея. Спасибо! Ссылка на проект: https://goo.gl/xTVQWP
Программные фишки:
“Перебор” цифр, не дающий индикаторам окисляться
Плавное изменение яркости точки и подсветки ламп
Настройка яркости цифр, “точки” и подсветки ламп
Два режима яркости в зависимости от времени суток
6 режимов переключения индикаторов
3 режима подсветки ламп
Будильника пока что нет




ЭФФЕКТЫ
Нет эффекта

Плавный переход

Перебор цифр

Перебор катодов

Случайный глюк

ВИДЕО


КОМПОНЕНТЫ
Инструменты, полезное
Каталоги ссылок на Алиэкспресс на этом сайте:

Всё для пайки: паяльники, приспособления
Платы Ардуино, модули и датчики
Модули и датчики для умного дома
Дешёвые инструменты
Аккумуляторы, платы защиты, зарядники
Мультиметры
Блоки питания, преобразователи
Железки со схемы
ПЛАТЫ
Проект


Общая страница проекта на EasyEda, с неё есть ссылки на все платы проекта

Перейти
ИН-14


Скачать GERBER
EasyEDA
ИН-14 NEON точка


Скачать GERBER
EasyEDA
ИН-12


Скачать GERBER
EasyEDA
ИН-12 перевёртыш


Скачать GERBER
EasyEDA
Чертёж плат v2.0



Версии плат (ТЕКУЩАЯ 2.2)
Заказ плат у китайцев на JLCPCB
Экспорт из EasyEDA и редактирование платы
ПРОШИВКА
Прошивки находятся в скачанном архиве в папке firmware:

lamp_test – прошивка для теста ламп, перебирает цифры на лампах по очереди (сначала 0–9 на первой, потом на второй…), пауза перебора задаётся в самом начале скетча
nixieClock_2_test_v1.1 – “минимальная” прошивка чисто для работы с лампами, на её основе можно написать свои часы. В сыром виде прошивка перебирает по очереди цифры на всех лампах одновременно
nixieClock_2_v2.5 – основная прошивка часов, со всеми эффектами, временем и прочим прочим
В самом начале кода находятся настройки. Самая важная для вас – выбор типа платы, по умолчанию выбрана плата под ИН-12. Для ИН-14 нужно сменить цифру с нуля на на 2, получится BOARD_TYPE 2
#define BOARD_TYPE 0
// тип платы часов:
// 0 - IN-12 turned (индикаторы стоят правильно)
// 1 - IN-12 (индикаторы перевёрнуты)
// 2 - IN-14 (обычная и neon dot)
// 3 другие индикаторы
ВНИМАНИЕ!
Максимально подробный гайд по началу работы с платой и загрузке прошивки для проекта находится здесь. Изучи его внимательно, прежде чем писать на форум или в группу ВК!
ИНСТРУКЦИЯ
СКАЧАТЬ
GITHUB
ОБНОВЛЕНИЯ
БАГРЕПОРТ
СБОРКА
Последовательность сборки и настройки. Подробности по каждому пункту читай ниже.
Полностью собрать нижнюю плату (можно не паять DS3231).
Отмыть флюс! Зубной щёткой и спиртом/калошей, или на худой конец горячей водой.
Выставить крутилку напряжения (в самом верху на левой половине платы) в среднее положение
Загрузить прошивку lamp_test, выбрав тип платы (читай код в самом начале)
Должен начать работать высоковольтный генератор. Аккуратно пальцы, за низ платы не хватаем
Измеряем напряжение на конденсаторе в верхнем левом углу платы (мультиметр ставить в режим DC, напряжение 50-300 Вольт). Крутилкой выставляем напряжение в районе 180-200 вольт
На данном этапе можно и нужно проверить лампы, подключив анод (белая нога) через резистор 10 кОм на “плюс” конденсатора, и любую другую ногу на “минус” конденсатора. Перебирая ноги минусовым проводом проверить все цифры индикатора. Если цифра горит не полностью, можно повысить напряжение и “прожечь” катод, или просто подождать. Лампы старые, могут начать нормально работать не сразу. ВНИМАНИЕ! Цифра (катод) в плохом “старом” состоянии потребляет бОльший ток, что может приводить к падению напряжения на генераторе и заветных 180В в работе вы не получите. Поэтому рекомендуется прокалить лампы от генератора в ручном режиме, как написано выше.
Далее можно смело паять лампы на верхнюю плату.
Обязательно отмыть флюс!
При включенном питании верхнюю и нижнюю платы не соединять!
На прошивке lamp_test будут последовательно перебираться цифры на лампах на максимальной яркости, в порт будет выводиться текущая цифра. Снова берём отвёртку и подстраиваем генератор на 180-200 Вольт (предыдущая настройка была нужна для первого пуска ламп, чтобы ничего не сгорело. При подключении ламп напряжение просядет, и его нужно будет выкрутить обратно).
Есть смысл оставить часы поработать на этой прошивке пару часов, чтобы лампы пришли в себя, т.к. каждый индикатор перебирает все цифры на максимальной яркости без динамической индикации.
Если всё нормально – прошиваем актуальную прошивку часов nixie</p>
</div>
    <h2 style="text-align: center;">
    <span class="ez-toc-section" id="%D0%AD%D0%A4%D0%A4%D0%95%D0%9A%D0%A2%D0%AB"></span>
    ЭФФЕКТЫ<span class="ez-toc-section-end"></span>
</h2>

</div>

</body>
</html>