<!DOCTYPE html>
<html lang="ru">
<head>
       <!-- Техническая информация о документе -->
    <meta charset="UTF-8"> <!-- Определяем кодировку символов документа -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Exam</title>
</head>
<body style="background: #272a2d">
  <!-- Основная часть документа -->


  <header class="header">
    <div class="container">
      <div class="flexheader">
        <p><img class="logostyle" src="../img/logo.gif" alt="LOGO"></p>
        <div class="flex01">
          <p class="styletext01"><a href="" style="color: rgba(255, 255, 255, 0.7)">Часы ГРИ</a></p>
          <p class="styletext01"><a href="" style="color: rgba(255, 255, 255, 0.7)">Полезные ссылки</a></p>
          <p class="styletext01"><a href="" style="color: rgba(255, 255, 255, 0.7)">Контакты</a></p>
       </div>
      </div>
    </div>
  </header>


<section class="container">
<div class="flexclockpage">
    <div>
        <nav class="navicontent">
                <ul>
                    <li><a class="navtextstyle01" href="#%D0%9E%D0%9F%D0%98%D0%A1%D0%90%D0%9D%D0%98%D0%95" title="ОПИСАНИЕ">ОПИСАНИЕ</a></li>
                    <li><a class="navtextstyle01" href="#%D0%AD%D0%A4%D0%A4%D0%95%D0%9A%D0%A2%D0%AB" title="ЭФФЕКТЫ">ЭФФЕКТЫ</a></li>
                    <li><a class="navtextstyle01" href="#%D0%92%D0%98%D0%94%D0%95%D0%9E" title="ВИДЕО">ВИДЕО</a></li>
                    <li><a class="navtextstyle01" href="#%D0%9A%D0%9E%D0%9C%D0%9F%D0%9E%D0%9D%D0%95%D0%9D%D0%A2%D0%AB" title="КОМПОНЕНТЫ">КОМПОНЕНТЫ</a></li>
                    <li><a class="navtextstyle01" href="#%D0%9F%D0%9B%D0%90%D0%A2%D0%AB" title="ПЛАТЫ">ПЛАТА</a></li>
                    <li><a class="navtextstyle01" href="#%D0%9F%D0%A0%D0%9E%D0%A8%D0%98%D0%92%D0%9A%D0%90" title="ПРОШИВКА">ПРОШИВКА</a>
                    <li><a class="navtextstyle01" href="#%D0%A1%D0%91%D0%9E%D0%A0%D0%9A%D0%90" title="СБОРКА">СБОРКА</a></li>
                    <li><a class="navtextstyle01" href="#%D0%92%D0%90%D0%A0%D0%98%D0%90%D0%9D%D0%A2%D0%AB_%D0%9A%D0%9E%D0%A0%D0%9F%D0%A3%D0%A1%D0%90" title="ВАРИАНТЫ КОРПУСА">ВАРИАНТЫ КОРПУСА</a></li>
                </ul>
        </nav>
    </div>

    <div>
        <hr>
        <h2 class="textstyle02"><span id="%D0%9E%D0%9F%D0%98%D0%A1%D0%90%D0%9D%D0%98%D0%95"></span>
            ОПИСАНИЕ
        </h2>
        <hr>
        <p class="textstyle03">Страница посвящена доступному проекту часов на газоразрядных индикаторах и Arduino. Односторонняя плата, выводные компоненты!</p>
        <h3 class="textstyle03">Плата:</h3>
        <ul class="textstyle03">
            <li>Габариты платы меньше 100х100мм, то есть заказать 10 таких плат у китайцев будет стоить $2 без учёта доставки</li>
            <li>Плата односторонняя, её без проблем можно сделать классическим ЛУТом!</li>
            <li>Все компоненты – выводные, припаяет даже новичок</li>
            <li>Т.е. плата народная: можно сделать её бабкиным утюгом и распаять горячим гвоздём!</li>
            <li>Количество компонентов сведено к минимуму!</li>
            <li>На данный момент в проекте есть платы под индикаторы ИН-12 и ИН-14, возможно будут сделаны и другие</li>
            <li>Система состоит из двух плат: нижней (вся управляющая электроника) и верхней (лампы и светодиоды подсветки)</li>
            <li>Нижних плат два варианта: обычная (4 оптопары, точка – светодиод) и с дополнительной оптопарой под неоновую точку (5 оптопар, точка – неонка)</li>
            <li>У плат ИН-14, ИН-12, ИН-12_перевертыш нижняя часть одинаковая! Части плат взаимозаменяемы. Нижняя плата отличается только у ИН-14_неон</li>
        </ul>
        <h3 class="textstyle03">Аппаратные фишки:</h3>
        <ul class="textstyle03"><li>Сердце платы – полноразмерная;<strong>Arduino NANO</strong>, это означает простую сборку и прошивку</li><li>Питание всей схемы –&nbsp;<strong>5 Вольт</strong></li><li>Генератор высокого напряжения раскачивается ШИМ каналом Arduino</li><li>Напряжение генератора подстраивается резистором с крутилкой</li><li>Время задаёт&nbsp;<strong>RTC DS3231</strong></li><li>3 кнопки для настройки времени и будильника</li><li>Пищалка для будильника</li><li><strong>Подсветка</strong>&nbsp;ламп индикаторов</li><li>Проект основан на плате&nbsp;<strong>Железнякова Андрея</strong>. Спасибо! Ссылка на проект:&nbsp;<a href="https://goo.gl/xTVQWP" rel="nofollow">https://goo.gl/xTVQWP</a></li></ul>
        <h3 class="textstyle03">Программные фишки:</h3>
        <ul class="textstyle03"><li>“Перебор” цифр, не дающий индикаторам окисляться</li>
            <li>Плавное изменение яркости точки и подсветки ламп</li>
            <li>Настройка яркости цифр, “точки” и подсветки ламп</li>
            <li>Два режима яркости в зависимости от времени суток</li>
            <li>6 режимов переключения индикаторов</li>
            <li>3 режима подсветки ламп</li>
            <li>Будильника нет</li>
        </ul>
        <hr>
        <h2 class="textstyle02">
            <span class="ez-toc-section" id="%D0%AD%D0%A4%D0%A4%D0%95%D0%9A%D0%A2%D0%AB"></span>
            ЭФФЕКТЫ<span class="ez-toc-section-end"></span>
        </h2>
        <hr>
        <p class="textstyle03"> Видео с демонстрацией переходов:
        </p>
            <ul class="textstyle03">
                <li><a>Нет эффекта</a></li>
                <li><a>Плавный переход</a></li>
                <li><a>Перебор цифр</a></li>
                <li><a>Перебор катодов</a></li>
                <li><a>Случайный глюк</a></li>
            </ul>
        <iframe width="640" height="480"
            src="../video/demonstrate.mp4"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

        <hr>
        <h2 class="textstyle02"><span class="ez-toc-section" id="%D0%92%D0%98%D0%94%D0%95%D0%9E"></span>
            ВИДЕО<span class="ez-toc-section-end"></span>
        </h2>
        <hr>
        <section class="elementor-section elementor-inner-section elementor-element elementor-element-68a9bf3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="68a9bf3" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4bf8282" data-id="4bf8282" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-5f2d9679 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-id="5f2d9679" data-element_type="widget" data-settings="{&quot;youtube_url&quot;:&quot;https:\/\/www.youtube.com\/watch?v=MAuBdVe959Y&quot;,&quot;video_type&quot;:&quot;youtube&quot;,&quot;controls&quot;:&quot;yes&quot;,&quot;aspect_ratio&quot;:&quot;169&quot;}" data-widget_type="video.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
                                            <iframe class="elementor-video" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="700" height="480" src="https://www.youtube.com/embed/MAuBdVe959Y?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Falexgyver.ru&amp;widgetid=1" id="widget2" data-gtm-yt-inspected-1_25="true">
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bc7aab8" data-id="bc7aab8" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-c0b110d elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-id="c0b110d" data-element_type="widget" data-settings="{&quot;youtube_url&quot;:&quot;https:\/\/www.youtube.com\/watch?v=QmEYgXPZfIE&quot;,&quot;video_type&quot;:&quot;youtube&quot;,&quot;controls&quot;:&quot;yes&quot;,&quot;aspect_ratio&quot;:&quot;169&quot;}" data-widget_type="video.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
                                            <iframe class="elementor-video" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="700" height="480" src="https://www.youtube.com/embed/QmEYgXPZfIE?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Falexgyver.ru&amp;widgetid=3" id="widget4" data-gtm-yt-inspected-1_25="true">
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>
        <h2 class="textstyle02"><span class="ez-toc-section" id="%D0%9A%D0%9E%D0%9C%D0%9F%D0%9E%D0%9D%D0%95%D0%9D%D0%A2%D0%AB"></span>
            КОМПОНЕНТЫ<span class="ez-toc-section-end"></span>
        </h2>
        <hr>
        <div class="textstyle03">
            <p>Список деталей и ссылки на них для заказа. Если какие-то ссылки не работают, то поищите аналогичное у других продавцов.
            </p>
            <ul>
                <li>Arduino Nano <a href="https://ali.ski/855YJH">aliexpress</a></li>
                <li>Часы реального времени DS3231 mini <a href="https://ali.ski/3iYLk" aria-describedby="tooltip_qbjd87i0o6">aliexpress</a></li>
                <li>Гнёзда на плату <a href="https://www.chipdip.by/product/pbs-40" rel="nofollow">https://www.chipdip.by/product/pbs-40</a></li>
                <li>Рейка штыревая <a href="https://www.chipdip.by/product/pls-40" rel="nofollow">https://www.chipdip.by/product/pls-40</a></li>
                <li>Конденсатор электролитический 4,7 мкФ 350V <a href="https://www.chipdip.by/product0/33635" rel="nofollow">https://www.chipdip.by/product0/33635</a></li>
                <li>Резистор подстроечный 470 кОм (можно 500 кОм) <a href="https://www.chipdip.by/product/3362p-1-504" rel="nofollow">https://www.chipdip.by/product/3362p-1-504</a></li>
                <li>Индуктивность 220 мкГн(uH) <a href="https://www.chipdip.by/product/rlb0712-221kl" target="_blank" rel="noopener noreferrer">https://www.chipdip.by/product/rlb0712-221kl</a></li>
                <li>Диод HER106 <a href="https://www.chipdip.by/product/her106" rel="nofollow">https://www.chipdip.by/product/her106</a>
                <li>Или диод BYV26C – он быстрее</li>
                <li>Транзистор IRF840PBF <a href="https://www.chipdip.by/product/irf840" rel="nofollow">https://www.chipdip.by/product/irf840</a></li>
                <li>Оптопара TLP627(F) DIP-4 <a href="https://www.chipdip.by/product/tlp627" rel="nofollow">https://www.chipdip.by/product/tlp627</a></li>
                <li>Дешифратор К155ИД1 <a href="https://www.chipdip.by/product/k155id1" rel="nofollow">https://www.chipdip.by/product/k155id1</a></li>
                <li>Светодиоды 5 мм <a href="https://www.chipdip.by/catalog/round-leds?x.222=s4Q&amp;x.226=EbW" target="_blank" rel="noopener noreferrer">https://www.chipdip.by/catalog/round-leds?x.222=s4Q&amp;x.226=EbW</a></li>
                <li>Светодиоды 3 мм <a href="https://www.chipdip.by/catalog/round-leds?x.222=s4Q&amp;x.226=s4S" target="_blank" rel="noopener noreferrer">https://www.chipdip.by/catalog/round-leds?x.222=s4Q&amp;x.226=s4S</a></li>
                <li>Резисторы 0.25 Вт для версии ИН12/ИН14 со светодиодной точкой:
                    <ul>
                        <li>150 Ом</li>
                        <li>470 Ом</li>
                        <li>10 кОм</li>
                        <li>100 Ом – 3шт</li>
                    </ul>
                </li>
                <li>Резисторы 0.25 Вт для версии ИН14 с неоновой точкой:
                    <ul>
                        <li>200 кОм</li>
                        <li>470 Ом</li>
                        <li>10 кОм</li>
                        <li>100 Ом – 3шт</li>
                    </ul>
                </li>
                <li>Блок питания 5 V / 500 мА минимум <a href="https://ali.ski/GY9BJ">https://ali.ski/GY9BJ</a>, <a href="https://ali.ski/IWE3W">https://ali.ski/IWE3W</a></li>
        </div>
        <hr>
  <!-- ПЛАТА -->
        <h2 class="textstyle02""><span class="ez-toc-section" id="%D0%9F%D0%9B%D0%90%D0%A2%D0%AB"></span>
            ПЛАТA<span class="ez-toc-section-end"></span>
        </h2>
        <hr>
        <p class="textstyle03"> Плата универсальная. Она разведена под ИН-12 и ИН-14 одновременно. Нужно запаять 4 лампы одного из типов.</p>
        <img src="../img/board.png">
        <p class="textstyle03">Проект в EasyEda - <a class="button_download01" href="https://easyeda.com/editor#id=f4b0a83b937d4647bea192438b0bb4d1">перейти.</a></p>
        <p class="textstyle03">Скачать архивом GERBER - <a class="button_download01" href="../download/Gerber_NIXIE_in14_12_neon_08.06.2021.zip">скачать.</a></p>


  <!-- ПРОШИВКА -->
        <hr>
        <h2 class="textstyle02""><span class="ez-toc-section" id="%D0%9F%D0%A0%D0%9E%D0%A8%D0%98%D0%92%D0%9A%D0%90"></span>
            ПРОШИВКА<span class="ez-toc-section-end"></span>
        </h2>
        <hr>



        <div  class="textstyle03">
            <p>Скачать архив с прошивками zip  - <a class="button_download01" href="../download/NixieClock_v2_firmware.zip">скачать.</a></p>
            <p>Прошивки находятся в скачанном архиве в папке&nbsp;<u>firmware</u>:</p>
            <ul>
                <li>lamp_test – прошивка для теста ламп, перебирает цифры на лампах по очереди (сначала 0–9 на первой, потом на второй…), пауза перебора задаётся в самом начале скетча</li>
                <li>nixieClock_2_test_v1.1 – “минимальная” прошивка чисто для работы с лампами, на её основе можно написать свои часы. В сыром виде прошивка перебирает по очереди цифры на всех лампах одновременно</li>
                <li>nixieClock_2_v2.5 – основная прошивка часов, со всеми эффектами, временем.</li>
                </ul>
            <p>В самом начале кода находятся настройки. Самая важная для вас – выбор типа платы, по умолчанию выбрана плата под ИН-12. Для ИН-14 нужно сменить цифру с нуля на 2, получится  BOARD_TYPE 2.</p>
            <img src="../img/board_type.png">
        </div>


<!-- СБОРКА -->
        <hr>
        <h2 class="textstyle02""><span class="ez-toc-section" id="%D0%A1%D0%91%D0%9E%D0%A0%D0%9A%D0%90"></span>
            СБОРКА<span class="ez-toc-section-end"></span>
        </h2>
        <hr>
        <div class="textstyle03">
            <p>Последовательность сборки и настройки. Подробности по каждому пункту читай ниже.</p>
            <ol>
                <li>Полностью собрать нижнюю плату (можно не паять DS3231).</li>
                <li><strong>Отмыть флюс!</strong>&nbsp;Зубной щёткой и спиртом/калошей, или на худой конец горячей водой.</li>
                <li>Выставить крутилку напряжения (в самом верху на левой половине платы) в среднее положение</li>
                <li>Загрузить прошивку&nbsp;<strong>lamp_test</strong>, выбрав тип платы (читай код в самом начале)</li>
                <li>Должен начать работать высоковольтный генератор. Аккуратно пальцы, за низ платы не хватаем</li>
                <li>Измеряем напряжение на конденсаторе в верхнем левом углу платы (мультиметр ставить в режим DC, напряжение 50-300 Вольт). Крутилкой выставляем напряжение в районе 180-200 вольт</li>
                <li>На данном этапе можно и нужно проверить лампы, подключив анод (белая нога) через резистор 10 кОм на “плюс” конденсатора, и любую другую ногу на “минус” конденсатора. Перебирая ноги минусовым проводом проверить все цифры индикатора. Если цифра горит не полностью, можно повысить напряжение и “прожечь” катод, или просто подождать. Лампы старые, могут начать нормально работать не сразу. <strong>ВНИМАНИЕ!</strong> Цифра (катод) в плохом “старом” состоянии потребляет бОльший ток, что может приводить к падению напряжения на генераторе и заветных 180В в работе вы не получите. Поэтому рекомендуется прокалить лампы от генератора в ручном режиме, как написано выше.</li>
                <li>Далее можно смело паять лампы на верхнюю плату.</li>
                <li>Обязательно отмыть флюс!</li>
                <li>При включенном питании верхнюю и нижнюю платы не соединять!</li>
                <li>На прошивке&nbsp;<strong>lamp_test&nbsp;</strong>будут последовательно перебираться цифры на лампах на максимальной яркости, в порт будет выводиться текущая цифра. Снова берём отвёртку и подстраиваем генератор на 180-200 Вольт (предыдущая настройка была нужна для первого пуска ламп, чтобы ничего не сгорело. При подключении ламп напряжение просядет, и его нужно будет выкрутить обратно).</li>
                <li>Есть смысл оставить часы поработать на этой прошивке пару часов, чтобы лампы пришли в себя, т.к. каждый индикатор перебирает все цифры на максимальной яркости без динамической индикации.</li>
                <li>Если всё нормально – прошиваем актуальную прошивку часов&nbsp;<strong>nixieClock_2_v2.5</strong>&nbsp;и наслаждаемся!</li>
            </ol>
        </div>

<!-- ВАРИАНТЫ КОРПУСА -->
        <hr>
        <h2 class="textstyle02"><span class="ez-toc-section" id="%D0%92%D0%90%D0%A0%D0%98%D0%90%D0%9D%D0%A2%D0%AB_%D0%9A%D0%9E%D0%A0%D0%9F%D0%A3%D0%A1%D0%90"></span>
            ВАРИАНТЫ КОРПУСА<span class="ez-toc-section-end"></span>
        </h2>
        <hr>
        <p  class="textstyle03">Незначительный допнабор на специальностях «Экологический менеджмент и аудит в промышленности»,
            «Инновационная техника для строительного комплекса (управление подразделениями инженерных войск)» и «Техническая
            эксплуатация автомобилей (военная автомобильная техника)» (на всех по одному вакантному месту).

        БГСХА — 112
        Вторым учебным заведением по количеству свободных мест на бюджет в этом году стала сельскохозяйственная академия
            в Горках. В объявлении на сайте вуза не указано, сколько всего абитуриентов не хватило для выполнения плановых
            показателей, но сайт kudapostupat.by приводит данные в 112 человек.
я допнабор объявил и ведущий вуз страны. На дневную бесплатную форму обучения БГУ готов принять 36 человек. На механико-
            математическом факультете свободны 14 мест на специальности «математика» (научно-педагогическая и научно-
            конструкторская деятельность), 11 — на физфаке и 11 в МГЭИ им. А. Д. Сахарова по направлениям «Природоохранная
            деятельность», «Энергоэффективные технологии и энергетический менеджмент» и «Ядерная и радиационная безопасность».

        </p>
    </div>
</div>

</section>



<i class="fa fa-chevron-circle-up fa-3x" aria-hidden="true"></i>
</body>
</html>




